.navbar-bee
  .row
    .col-md-4
      a(href="/")
        img(src="./img/logo-white.svg")
    .col-md-8
      ul.text-right
        li
          a(href='/employer') Login
        li
          a(href='/signup') Sign up
