extends layout.jade

block extra-scripts
  //- build:js /scripts/home.js
  script(src="/js/count.js")
  //- endbuild

block page-content
  .hero-section
    .navbar-bee
      .row
        .col-md-4
          img(src="./img/logo.svg")
        .col-md-8
          ul.text-right
            li
              a(href='#') How it works
            li
              a(href='/employer') Login
            li
              a(href='/signup') Sign up

      .hero-section-container
        h1 Code is art
        h3 We connect the world with great developers
        button.btn.btn-primary.btn-lg(type='button') Get started now

      .steps-container
        ul
          li
            img(src="img/1.svg")
            h4 Take your project
          li
            img(src="img/2.svg")
            h4 Launch your contest
          li
            img(src="img/3.svg")
            h4 Recieve tozen of codes
          li
            img(src="img/4.svg")
            h4 Review the code
          li
            img(src="img/5.svg")
            h4 Pick the winner

    section.choose
      h1 What project are you working on?

      .choose-box
        .row
          .col-md-3
            a.block.category.clip.hover-bg-color-art.category-1(href='/list')
              .category-project-count.full-height.mobile-table
                  .mobile-table-cell
                    .h4 382 live projects
                .category-name.mobile-table.full-height
                  .mobile-table-cell
                    .h3 iOS

          .col-md-3
            a.block.category.clip.hover-bg-color-art.category-2(href='/list')
              .category-project-count.full-height.mobile-table
                  .mobile-table-cell
                    .h4 312 live projects
                .category-name.mobile-table.full-height
                  .mobile-table-cell
                    .h3 Android

          .col-md-3
            a.block.category.clip.hover-bg-color-art.category-3(href='/list')
              .category-project-count.full-height.mobile-table
                  .mobile-table-cell
                    .h4 167 live projects
                .category-name.mobile-table.full-height
                  .mobile-table-cell
                    .h3 Node.js

          .col-md-3
            a.block.category.clip.hover-bg-color-art.category-4(href='/list')
              .category-project-count.full-height.mobile-table
                  .mobile-table-cell
                    .h4 345 live projects
                .category-name.mobile-table.full-height
                  .mobile-table-cell
                    .h3 Ruby

          .col-md-3
            a.block.category.clip.hover-bg-color-art.category-5(href='/list')
              .category-project-count.full-height.mobile-table
                  .mobile-table-cell
                    .h4 132 live projects
                .category-name.mobile-table.full-height
                  .mobile-table-cell
                    .h3 go

          .col-md-3
            a.block.category.clip.hover-bg-color-art.category-6(href='/list')
              .category-project-count.full-height.mobile-table
                  .mobile-table-cell
                    .h4 82 live projects
                .category-name.mobile-table.full-height
                  .mobile-table-cell
                    .h3 php

          .col-md-3
            a.block.category.clip.hover-bg-color-art.category-7(href='/list')
              .category-project-count.full-height.mobile-table
                  .mobile-table-cell
                    .h4 882 live projects
                .category-name.mobile-table.full-height
                  .mobile-table-cell
                    .h3 Angular.js

          .col-md-3
            a.block.category.clip.hover-bg-color-art.category-8(href='/list')
              .category-project-count.full-height.mobile-table
                  .mobile-table-cell
                    .h4 35 live projects
                .category-name.mobile-table.full-height
                  .mobile-table-cell
                    .h3 Scala

    footer
      .text-center
        img(src="img/logo-white.svg")

