extends layout.jade

block extra-scripts
  //- build:js /scripts/home.js
  script(src="/js/modernizr.custom.js")
  script(src="/js/count.js")
  script(src="/js/cbpFWTabs.js")
  script.
    (function() {

      [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
        new CBPFWTabs( el );
      });

    })();
  //- endbuild

block page-content
  body.list-page
    .hero-list
      .navbar-bee
        .row
          .col-md-4
            a(href="/")
              img(src="../../img/logo-white.svg")
          .col-md-8
            ul.text-right
              if user
                li
                  img.avatar(src="https://avatars2.githubusercontent.com/u/1353975?v=3&s=96")
                li
                  a(href='/logout') Logout &nbsp;
                    span.glyphicon.glyphicon-log-out
              else
                li
                  a(href='#') Login
                li
                  a(href='#') Sign up

    section.filter
      .text-center
        h1 Browse all the current projects
        br
        br
      .tabs.tabs-style-flip
        nav
          ul
            li
              a.icon.icon-plane(href='#section-flip-5')
                span Node.js
            li
              a.icon.icon-date(href='#section-flip-4')
                span iOS
            li
              a.icon.icon-gift(href='#section-flip-2')
                span Android
            li
              a.icon.icon-coffee(href='#section-flip-3')
                span php
            li
              a.icon.icon-tools(href='#section-flip-5')
                span Angular.js
            li
              a.icon.icon-tools(href='#section-flip-6')
                span Ruby



        .content-wrap
          section#section-flip-1
            .choose.choose-ios
              .choose-box
                .row
                  for project in projects
                    .col-md-4
                      a.all-box(href='/project/' + project.id)
                        .block.category.clip.hover-bg-color-art.category-ios
                          .category-project-count.full-height.mobile-table
                              .mobile-table-cell
                                .h4 #{project.jobs} jobs available
                            .category-name.mobile-table.full-height
                              .mobile-table-cell
                                .h3 #{project.title}
                        .content
                          p #{project.description}


          section#section-flip-2
            .choose
              .choose-box
                .row
                  .col-md-4
                    a.all-box(href='single-job')
                      .block.category.clip.hover-bg-color-art.category-5
                        .category-project-count.full-height.mobile-table
                            .mobile-table-cell
                              .h4 1 job available
                          .category-name.mobile-table.full-height
                            .mobile-table-cell
                              .h3 food-inspections-evaluation
                      .content
                        p This repository contains the code to generate predictions of critical violations at food establishments in Chicago.

                  .col-md-4
                    a.all-box(href='single-job')
                      .block.category.clip.hover-bg-color-art.category-2
                        .category-project-count.full-height.mobile-table
                            .mobile-table-cell
                              .h4 1 job available
                          .category-name.mobile-table.full-height
                            .mobile-table-cell
                              .h3 opendata.cern.ch
                      .content
                        p Invenio source code overlay for CERN Open Data Portal
                  .col-md-4
                    a.all-box(href='single-job')
                      .block.category.clip.hover-bg-color-art.category-1
                        .category-project-count.full-height.mobile-table
                            .mobile-table-cell
                              .h4 1 job available
                          .category-name.mobile-table.full-height
                            .mobile-table-cell
                              .h3 congressional-districts
                      .content
                        p Historic and current US Congressional districts as GeoJSON, versioned within Git
          section#section-flip-3
            .choose
              .choose-box
                .row
                  .col-md-4
                    a.all-box(href='single-job')
                      .block.category.clip.hover-bg-color-art.category-1
                        .category-project-count.full-height.mobile-table
                            .mobile-table-cell
                              .h4 1 job available
                          .category-name.mobile-table.full-height
                            .mobile-table-cell
                              .h3 food-inspections-evaluation
                      .content
                        p This repository contains the code to generate predictions of critical violations at food establishments in Chicago.

                  .col-md-4
                    a.all-box(href='single-job')
                      .block.category.clip.hover-bg-color-art.category-2
                        .category-project-count.full-height.mobile-table
                            .mobile-table-cell
                              .h4 1 job available
                          .category-name.mobile-table.full-height
                            .mobile-table-cell
                              .h3 opendata.cern.ch
                      .content
                        p Invenio source code overlay for CERN Open Data Portal
                  .col-md-4
                     a.all-box(href='single-job')
                      .block.category.clip.hover-bg-color-art.category-3
                        .category-project-count.full-height.mobile-table
                            .mobile-table-cell
                              .h4 1 job available
                          .category-name.mobile-table.full-height
                            .mobile-table-cell
                              .h3 congressional-districts
                      .content
                        p Historic and current US Congressional districts as GeoJSON, versioned within Git

          section#section-flip-4
            .choose
              .choose-box
                .row
                  .col-md-4
                    a.all-box(href='single-job')
                      .block.category.clip.hover-bg-color-art.category-3
                        .category-project-count.full-height.mobile-table
                            .mobile-table-cell
                              .h4 1 job available
                          .category-name.mobile-table.full-height
                            .mobile-table-cell
                              .h3 food-inspections-evaluation
                      .content
                        p This repository contains the code to generate predictions of critical violations at food establishments in Chicago.

                  .col-md-4
                    a.all-box(href='single-job')
                      .block.category.clip.hover-bg-color-art.category-2
                        .category-project-count.full-height.mobile-table
                            .mobile-table-cell
                              .h4 1 job available
                          .category-name.mobile-table.full-height
                            .mobile-table-cell
                              .h3 opendata.cern.ch
                      .content
                        p Invenio source code overlay for CERN Open Data Portal
                  .col-md-4
                    a.all-box(href='single-job')
                      .block.category.clip.hover-bg-color-art.category-3
                        .category-project-count.full-height.mobile-table
                            .mobile-table-cell
                              .h4 1 job available
                          .category-name.mobile-table.full-height
                            .mobile-table-cell
                              .h3 congressional-districts
                      .content
                        p Historic and current US Congressional districts as GeoJSON, versioned within Git
          section#section-flip-5
            .choose
              .choose-box
                .row
                  .col-md-4
                    a.all-box(href='single-job')
                      .block.category.clip.hover-bg-color-art.category-1
                        .category-project-count.full-height.mobile-table
                            .mobile-table-cell
                              .h4 1 job available
                          .category-name.mobile-table.full-height
                            .mobile-table-cell
                              .h3 food-inspections-evaluation
                      .content
                        p This repository contains the code to generate predictions of critical violations at food establishments in Chicago.

                  .col-md-4
                    a.all-box(href='single-job')
                      .block.category.clip.hover-bg-color-art.category-2
                        .category-project-count.full-height.mobile-table
                            .mobile-table-cell
                              .h4 1 job available
                          .category-name.mobile-table.full-height
                            .mobile-table-cell
                              .h3 opendata.cern.ch
                      .content
                        p Invenio source code overlay for CERN Open Data Portal
                  .col-md-4
                    a.all-box(href='single-job')
                      .block.category.clip.hover-bg-color-art.category-3
                        .category-project-count.full-height.mobile-table
                            .mobile-table-cell
                              .h4 1 job available
                          .category-name.mobile-table.full-height
                            .mobile-table-cell
                              .h3 congressional-districts
                      .content
                        p Historic and current US Congressional districts as GeoJSON, versioned within Git

          section#section-flip-6
            .choose
              .choose-box
                .row
                  .col-md-4
                    a.all-box(href='single-job')
                      .block.category.clip.hover-bg-color-art.category-1
                        .category-project-count.full-height.mobile-table
                            .mobile-table-cell
                              .h4 1 job available
                          .category-name.mobile-table.full-height
                            .mobile-table-cell
                              .h3 food-inspections-evaluation
                      .content
                        p This repository contains the code to generate predictions of critical violations at food establishments in Chicago.

                  .col-md-4
                    a.all-box(href='single-job')
                      .block.category.clip.hover-bg-color-art.category-2
                        .category-project-count.full-height.mobile-table
                            .mobile-table-cell
                              .h4 1 job available
                          .category-name.mobile-table.full-height
                            .mobile-table-cell
                              .h3 opendata.cern.ch
                      .content
                        p Invenio source code overlay for CERN Open Data Portal
                  .col-md-4
                    a.all-box(href='single-job')
                      .block.category.clip.hover-bg-color-art.category-3
                        .category-project-count.full-height.mobile-table
                            .mobile-table-cell
                              .h4 1 job available
                          .category-name.mobile-table.full-height
                            .mobile-table-cell
                              .h3 congressional-districts
                      .content
                        p Historic and current US Congressional districts as GeoJSON, versioned within Git


    footer
      .text-center
        img(src="../../img/logo-white.svg")


