extends layout.jade

block extra-scripts
  //- build:js /scripts/home.js
  script(src="/js/count.js")
  //- endbuild

block page-content

  body.list-page
    .hero-list
      .navbar-bee
        .row
          .col-md-4
            a(href="/")
              img(src="./img/logo-white.svg")
          .col-md-8
            ul.text-right
              if user
                a(href='/logout') Logout
              else
                li
                  a(href='#') How it works
                li
                  a(href='#') Login
                li
                  a(href='#') Sign up



    section.filter
      .single-job
        ol.breadcrumb
          li
            a(href='#') Home
          li
            a(href='#') Projects
          li.active Node.js

        header #{project.title}
        for job in project.jobs
          .description-container
            .row
              .col-md-6
                h1 #{job.title}
                p #{job.description}

              .col-md-5.col-md-offset-1
                #tile1.tile
                  .wrapper
                    .header Details
                    .price.text-center
                      label PRICE
                      p #{job.cost}$
                    .dates
                      .start
                        strong STARTS
                        | OCT 2015
                        span
                      .ends
                        strong ENDS
                        | DEC 2015
                    .stats
                      div
                        strong VIEWS
                        | 309
                      div
                        strong JOINED
                        | 5
                      div
                        strong DECLINED
                        | 2
             .row
              br
              br
              button.btn.btn-primary.btn-lg(type='button') Take this job

    footer
      .text-center
        img(src="img/logo-white.svg")

