//@import bootstrap
//@import bootstrap-theme
@import config

canvas
  position:absolute
  z-index: -1

*,
*:before,
*:after
  box-sizing border-box

body
  font-family: sans_stack

a:hover
  text-decoration: none

.btn
  border: 0
  text-shadow: none
  border-radius: 10px
  box-shadow: none
  font-weight: 700
  padding: .75em 1.5em
  width: auto

.btn-block
  width: 100%

.btn-primary
  background: brand_main_color

  &:hover
  &:focus
  &:active
    background: darken(brand_main_color, 15%)!important

ul
  margin-bottom: 0

#checkout
  border-bottom: none

.payment-container
  h2
  .btn
    margin: 0 .5em



.hero-section
  width: 100%
  // background:
  //   url('../img/lines.svg') center 15% no-repeat,
  //   linear-gradient(-180deg, rgba(0,0,0,0.69) 0%, #000000 100%)
  //background-color: #212020
  height: 100%

  h1,h3,h4
    color: white

.hero-section-container
  text-align: center
  padding-top: 2em

  h1
    &:after
      content:""
      display: inline-block
      background: rgba(white, .7)
      width: .45em
      height: .8em
      margin-top: .2em
      margin-left: .25em
      animation: pulse .7s .6s infinite ease-out

  h3
    margin-bottom: 1em

@keyframes pulse
  0%
    opacity: 1
  100%
    opacity: 0


.navbar-bee
  width: 100%
  margin: 0 auto
  padding: 1.5em 10%

  a
    color: white
    font-weight: 700
    line-height: 2.5

    &:hover
      text-decoration: none

  .glyphicon
    opacity: .5
    font-size: 85%

  li
    display: inline-block
    margin-left: 3em

    &:hover
      opacity: .8

  .avatar
    width: 2em


.steps-container
  opacity: .7
  margin: 0 auto
  padding: 18em 0 4em
  //width: 90%

  h4
    padding-top: .75em

  ul
    text-align: center
    padding: 0

  li
    display: inline-block
    text-align: center
    padding: 0 .5em
    position: relative

    &:first-child
      margin-left: 0

    img
      width: 3em

    &:after
      content: ''
      background: url('../img/dx.svg') no-repeat center
      position: absolute
      display: inline-block
      height: 2em
      width: 2em
      top: 1.5em
      right: -2.5em
      opacity: .7

    &:last-child
      &:after
        display: none



.choose
  padding: 7em 0
  text-align: center
  background:
    white url('../img/lines.svg') center no-repeat

  a
    text-decoration: none
    display: block

  h1
    color: #333

.choose-box
  width: 60%
  margin: 4em auto

.choose-ios
   .col-md-4
      &:first-child
       .category-ios
         background-color: #ff7d5f

      &:nth-child(2)
        .category-ios
         background-color: #ff596e

      &:nth-child(3)
        .category-ios
         background-color: #2752ff

      &:nth-child(4)
        .category-ios
         background-color: #a695f9

.block
  display: block

.category
  height: 100px
  border: 1px solid #d9d9de
  background-color: white
  border-radius: 4px
  margin: 1em 0
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1)

  .category-project-count
    margin-top: -100px;
    transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1)

  &:hover
    border: transparent
    .category-project-count
      margin-top: 0

.clip, .no-scroll
  overflow: hidden;

.mobile-table
  display: table;
  table-layout: fixed;
  width: 100%;

.full-height
  height: 100%;

.mobile-table-cell
  display: table-cell;
  vertical-align: middle;

  .h4
    color: white
    font-weight: 700

.h3
  font-size: 22px
  line-height: 30px



.category-1
  &:hover
    background-color: #ffbdab

.category-2
  .h4
    color: #050505

  &:hover
    background-color: #fffb78

.category-3
  &:hover
    background-color: #a695f9

.category-4
  &:hover
    background-color: #2752ff

.category-5
  &:hover
    background-color: #ff596e

.category-6
  &:hover
    background-color: #12bcea

.category-7
  &:hover
    background-color: #6396fc

.category-8
  &:hover
    background-color: #ff7d5f


footer
  background-color: brand_main_color
  padding: 6em 0

  img
    width: 12em


//---------------------

.list-page
  .hero-list
    background-color: brand_main_color

  .choose
    padding: 1em 0
    background: transparent
    width: 100%

  .choose-box
    width: 90%

  .category
    border: 0
    margin: 0
    &.category-1
      background-color: #2bde73

    &.category-2
      background-color: #a695f9

    &.category-3
      background-color: #2752ff

    &.category-4
      background-color: #ff596e

    &.category-5
      background-color: #12bcea

    &.category-6
      background-color: #ff7d5f


.all-box
  border: 1px solid #d9d9de
  border-radius: 6px
  margin: 1em 0
  transition: all .3s ease-out

  &:hover
    box-shadow: 0 1px 35px 0 rgba(0,0,0,.3)
    cursor: pointer

  .category
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0

  .content
    text-align: left

  .h3
    color: white
    font-weight: 700

  p
    padding: 2em
    font-size: .9em
    height: 10em
    color: #333

a.all-box
  display: block

.filter
  background-color: #e7ecea
  padding: 4em 0



.tabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  font-size: 1.25em;
}

/* Nav */
.tabs nav {
  text-align: center;
}

.tabs nav ul {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  flex-flow: row wrap;
  justify-content: center;
}

.tabs nav ul li {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  flex: 1;
}

.tabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5;
}

.tabs nav a span {
  vertical-align: middle;
  font-size: 0.75em;
}

.tabs nav li.tab-current a {
  color: #74777b;
}

.tabs nav a:focus {
  outline: none;
}

/* Content */
.content-wrap {
  position: relative;
}

.content-wrap section {
  display: none;
  margin: 0 auto;
  padding: 1em;
  max-width: 1200px;
  text-align: center;
}

.content-wrap section.content-current {
  display: block;
}

/* Fallback */
.no-js .content-wrap section {
  display: block;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
  display: block;
}

.no-flexbox nav ul li {
  min-width: 15%;
  display: inline-block;
}

@media screen and (max-width: 58em) {
  .tabs nav a.icon span {
    display: none;
  }
  .tabs nav a:before {
    margin-right: 0;
  }
}

/*****************************/
/* Flip */
/*****************************/

.tabs-style-flip {
  max-width: 1200px;
}

.tabs-style-flip nav a {
  padding: 0.5em 0;
  color: #2CC185;
  transition: color 0.3s;
}

.tabs-style-flip nav a:hover,
.tabs-style-flip nav a:focus,
.tabs-style-flip nav li.tab-current a {
  color: #74777b;
}

.tabs-style-flip nav a span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.25em;
}

.tabs-style-flip nav a::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  content: '';
  transition: transform 0.3s, background-color 0.3s;
  transform: perspective(900px) rotate3d(1,0,0,90deg);
  transform-origin: 50% 100%;
  perspective-origin: 50% 100%;
}

.tabs-style-flip nav li.tab-current a::after {
  background-color: #fff;
  transform: perspective(900px) rotate3d(1,0,0,0deg);
}

.tabs-style-flip .content-wrap {
  background: #fff;
}



//------------------------
.single-job
  background-color: white
  max-width: 1100px
  margin: 0 auto


  header
    background-color: #2bde73
    padding: 1em 0
    color: white
    font-weight: 700
    text-align: center
    font-size: 3em

  .description-container
    padding: 4em 6em 8em
    margin-bottom: 4em

   h2
     margin-top: 2em

    p
      font-size: 1.2em

  .price
    p
     font-size: 2.6em
     line-height: 1

.breadcrumb
  margin-top: 2em
  margin-bottom: 0


#view-code{
  color:#89a2b5;
  opacity:0.7;
  font-size:14px;
  text-transform:uppercase;
  font-weight:700;
  text-decoration:none;
  position:absolute;top:480px;
  left:50%;margin-left:-38px;
  z-index:200;
}

#view-code:hover{color:#5aadef; opacity:1}


.tile{
  width:360px;
  height:370px;
  background:#fff;
  border-radius:5px;
  box-shadow: 0px 2px 3px -1px rgba(151, 171, 187, 0.7);
  float:left;
  position:relative;
  overflow:hidden;
  transform-style: preserve-3d;
  border: 1px solid #f5f5f5

}
.circle{
  background:#364b5b;
  position:absolute;
  right: 28px;
  top: 33px;
  width: 0px;
  height: 0px;
  border-radius:50%;
  opacity:0.9;
  z-index:2;
  transition: all 250ms ease-out;
}
#tile1.animate .circle{
  right: -346px;
  top: -371px;
  width: 800px;
  height: 800px;
  transition: all 250ms ease-out;
}
#tile1 div.settings-form{display:none;opacity:0;}


div.settings-form{z-index:3;}
.wrapper{transform-style: preserve-3d;position:absolute;top:0;left:0;height:285px;width:360px;}
.tile:hover{
  box-shadow:0px 4px 10px -1px rgba(151, 171, 187, 0.7);
}
#tile1{
  margin-right:20px;
}
.header{
  border-bottom:1px solid #ebeff2;
  padding:19px 0;
  text-align:center;
  color:#59687f;
  font-size:600;
  font-size:19px;
  position:relative;
}
#tile1 .settings-form .header{border-color:#65747f; color:#fff;}
.settings{
  width: 22px;
    height: 22px;
    position: absolute;
    top: 23px;
    right: 19px;
  fill:#d4d9dd;
}
.settings:hover{
  cursor:pointer;
}
.dates{
  border:1px solid #ebeff2;
  border-radius:5px;
  padding:20px 0px;
  margin:37px 20px 0;
  font-size:16px;
  color:#5aadef;
  font-weight:600;
  overflow:auto;
}
.dates div{
  float:left;
  width:50%;
  text-align:center;
  position:relative;
}
.dates strong,
.stats strong{
  display:block;
  color:#adb8c2;
  font-size:11px;
  font-weight:700;
}
.dates span{
  width:1px;
  height:40px;
  position:absolute;
  right:0;
  top:0;
  background:#ebeff2;
}
.stats{
  border-top:1px solid #ebeff2;
  background:#f7f8fa;
  overflow:auto;
  padding:15px 0;
  font-size:16px;
  color:#59687f;
  font-weight:600;
    margin-top: 36px;
  border-radius: 0 0 5px 5px;
}
.stats div{
  border-right:1px solid #ebeff2;
  width:119px;
  float:left;
  text-align:center
}
.stats div:nth-of-type(3){border:none;}


.close{
  position:absolute;
  top:23px;
  right:18px;
  width:30px;
  height:30px;
  cursor:pointer;
}
.cx, .cy{
  background:#d2d5dc;
  position:absolute;
  width:0px;
  top:11px;
  right:13px;
  height:2px;

  transition: all 250ms ease-in-out;
}
#tile1 .cx, #tile1 .cy{background:#a0b3c2;}
.cx.s1, .cy.s1{
  right:0;
  width:22px;

  transition: all 100ms ease-out;
}

#tile1 form div, #tile1 button{opacity:0;position:relative;top:-20px;}
form div{
  border-bottom:1px solid #ebeff2;
  padding:18px 10px 17px 22px;
}
#tile1 form div{border-color:#65747f;}
form div.short{
  border-bottom:none;
  border-right:1px solid #ebeff2;
  float:left;
  width:147px;
}
#tile1 form div.short{border-color:#65747f;}
form div.short:nth-of-type(3){border:none;}
form div.short input{width:135px;}
form div label{
  color:#adb8c2;
  font-size:11px;
  font-weight:700;
  display:block;
}
#tile1 form div label{color:#a0b3c2;}
form div input{
  color:#59687f;
  font-size:18px;
  font-weight:400;
  border:none;
  outline:none;
  margin-top:4px;
}
#tile1 form div input{color:#fff; background:none;}
button{
  background-color:#59aef1;
  color:#fff;
  font-weight:600;
  font-size:16px;
  text-transform:uppercase;
  letter-spacing:1px;
  width:100%;
  padding:22px 0 19px;
  border:none;
  border-radius: 0 0 5px 5px;
}
button:hover{
  cursor:pointer;
  background:#47a2ea;
}
div.ends {
    color: #2ECC71;
  }

.price
  margin-top: 1.5em


.coder-list
  margin-top: 3em

.list-group
  img
    width: 1.8em
    margin-right: 1em
    vertical-align: middle
  .btn-xs
    margin-top: .2em
    padding: .5em 1em .4em
    line-height: 1
    border-radius: 3px
    text-transform: capitalize
    letter-spacing: 0



.stats-container
  width 500px
  margin: 4em auto 2em
  padding 1em

.stats-chart-wrapper
  padding-left 1.6em
  position relative
  min-height 140px
  background-image linear-gradient(rgba(grey, 0.2) 3.33%, rgba(grey, 0) 3.34%)
  background-size auto 1em
  background-repeat repeat
  background-position-y 12px
  .stats-labels
    font-size: .5em
    &:before
      content attr(data-labels)
      width 1em
      padding-right 1em
      left -3em
      position absolute
      line-height 2em
      font-size 1.8em
      color rgba(0, 0, 139, 0.5)
      background #fff
  .stats-graph
    width calc(94.9%)
    height 100%
    bottom 0.25em
    left: .5em
    position absolute
    background-image linear-gradient(#2BDE73, rgba(#2BDE73, 0.2))
    opacity 1
    transition all 0.3s ease
    -webkit-clip-path polygon(0% 45%, 0% 100%, 100% 100%, 100% 71%, 90% 11%, 80% 46%, 70% 28%, 60% 67%, 50% 38%, 40% 28%, 30% 76%, 20% 35%, 10% 77%)
    clip-path polygon(0% 45%, 0% 100%, 100% 100%, 100% 71%, 90% 11%, 80% 46%, 70% 28%, 60% 67%, 50% 38%, 40% 28%, 30% 76%, 20% 35%, 10% 77%)
  &:hover
    .stats-graph
      -webkit-clip-path polygon(0% 55%, 0% 100%, 100% 100%, 100% 41%, 90% 81%, 80% 36%, 70% 78%, 60% 27%, 50% 78%, 40% 58%, 30% 36%, 20% 45%, 10% 27%)
      clip-path polygon(0% 55%, 0% 100%, 100% 100%, 100% 41%, 90% 81%, 80% 36%, 70% 78%, 60% 27%, 50% 78%, 40% 58%, 30% 36%, 20% 45%, 10% 27%)


.payment-page
  .hero-list
    background-color: brand_main_color

  .list-group-item
    text-align: center
    border:0
    img
      width: 3em
      margin: 0 0 .75em


.signup-page
  text-align: center
  width: 100%
  padding:3em 0
  background: #41413E
  height: 100%
  position: absolute
  bottom: 0

  img
    width: 16em
    margin-top: 4em
    margin-bottom: 2em

  h3
    color: white
  input
    background-color: rgba(white, .1)
    border-color: transparent
    padding: 1.75em 1.5em

  .signup-container
    width: 700px
    margin: 0 auto


